<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aoife McLaughlin</title>
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <!-- The overlay -->
<div id="myNav" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <a href="index.html">Home</a>
    <a href="about.html">About</a>
    <a href="portfolio.html">Portfolio</a>
    <a href="resume.html">Résumé</a>
     <!-- <a href="blog.html">Blog</a> -->
 </div>

</div>

    <div class="portfolio-container">
        <a href="#" class="menu button" onclick="openNav()">MENU</a>
        
     <div href="#" class="contact button">
        <a href="mailto:aoifedmclaughlin@gmail.com"><i class="fa fa-envelope"></i></a>
        <a href="https://dribbble.com/aoifemclaughlin"><i class="fa fa-dribbble"></i></a>
        <a href="https://twitter.com/ayfamclaughlin"><i class="fa fa-twitter"></i></a>
        <a href="https://www.behance.net/aoifedmcla124e"><i class="fa fa-behance"></i></a>
<!--            <a href="http://dribbble.com"><i class="fa fa-instagram"></i></a>-->
    </div>
 </div>